# Machine Learning

In this file, instructions how to approach the challenge can be found.

We are going to work on different types of Machine Learning problems:

- **Regression Problem**: The goal is to predict delay of flights.
- **(Stretch) Multiclass Classification**: If the plane was delayed, we will predict what type of delay it is (will be).
- **(Stretch) Binary Classification**: The goal is to predict if the flight will be cancelled.

In [5]:
import psycopg2
import pandas as pd
from scipy import stats
import seaborn as sns
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import scipy
import numpy as np
pd.set_option('display.max_columns', None)  #set pandas to display all columns

%matplotlib inline

conn = psycopg2.connect(database='mid_term_project',user='lhl_student',password='lhl_student', host='mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com', port='5432')

print('Connection opened successfully')

Connection opened successfully

In [6]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [7]:
column_names = ['fl_date','mkt_unique_carrier','op_unique_carrier','mkt_carrier_fl_num','tail_num','origin','origin_city_name','dest','dest_city_name','crs_dep_time','crs_arr_time','crs_elapsed_time','distance','arr_delay']
data = postgresql_to_dataframe(conn, 'SELECT fl_date,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,tail_num,origin,origin_city_name,dest,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,arr_delay FROM flights WHERE cancelled = 0 and diverted = 0', column_names)

In [8]:
data = data.dropna()

In [9]:
data = data.sample(5000000)

In [12]:
data

,fl_date,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,tail_num,origin,origin_city_name,dest,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,arr_delay
6860809,2019-06-03,WN,WN,510,N8639B,BDL,"Hartford, CT",DEN,"Denver, CO",1640,1905,265.0,1671.0,36.0
4051918,2019-07-25,AA,AA,12,N923NN,DFW,"Dallas/Fort Worth, TX",JAX,"Jacksonville, FL",1509,1830,141.0,918.0,32.0
8364893,2019-08-11,WN,WN,4462,N8552Z,MDW,"Chicago, IL",PVD,"Providence, RI",2215,125,130.0,842.0,-17.0
4749850,2018-01-29,AA,MQ,3652,N508AE,ORD,"Chicago, IL",RAP,"Rapid City, SD",1007,1135,148.0,779.0,5.0
14953380,2018-02-18,AS,AS,9,N462AS,MCO,"Orlando, FL",SEA,"Seattle, WA",700,1040,400.0,2554.0,-22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941847,2018-07-07,DL,DL,2610,N954AT,ATW,"Appleton, WI",MSP,"Minneapolis, MN",639,749,70.0,236.0,-16.0
602412,2018-04-20,WN,WN,736,N964WN,DAL,"Dallas, TX",SLC,"Salt Lake City, UT",920,1105,165.0,999.0,234.0
4551899,2018-01-18,AA,AA,1786,N972UY,PHL,"Philadelphia, PA",MCO,"Orlando, FL",1815,2102,167.0,861.0,-25.0
9371080,2019-02-27,UA,OO,5993,N956SW,SFO,"San Francisco, CA",MFR,"Medford, OR",1605,1739,94.0,329.0,114.0
3151685,2019-03-15,WN,WN,1846,N7887A,LAS,"Las Vegas, NV",IND,"Indianapolis, IN",1925,155,210.0,1590.0,-1.0

In [11]:
data.to_csv('training_data.csv',index=False)

In [52]:
data = pd.read_csv('training_data.csv')

## Main Task: Regression Problem

The target variable is **ARR_DELAY**. We need to be careful which columns to use and which don't. For example, DEP_DELAY is going to be the perfect predictor, but we can't use it because in real-life scenario, we want to predict the delay before the flight takes of --> We can use average delay from earlier days but not the one from the actual flight we predict.  

For example, variables **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY** shouldn't be used directly as predictors as well. However, we can create various transformations from earlier values.

We will be evaluating your models by predicting the ARR_DELAY for all flights **1 week in advance**.

### Feature Engineering

Feature engineering will play a crucial role in this problems. We have only very little attributes so we need to create some features that will have some predictive power.

- weather: we can use some weather API to look for the weather in time of the scheduled departure and scheduled arrival.
- statistics (avg, mean, median, std, min, max...): we can take a look at previous delays and compute descriptive statistics
- airports encoding: we need to think about what to do with the airports and other categorical variables
- time of the day: the delay probably depends on the airport traffic which varies during the day.
- airport traffic
- unsupervised learning as feature engineering?
- **what are the additional options?**: Think about what we could do more to improve the model.

In [59]:
data['week'] = pd.to_datetime(data['fl_date']).dt.week

In [60]:
data['fl_date'] = pd.to_datetime(data['fl_date'])

In [61]:
data

,fl_date,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,tail_num,origin,origin_city_name,dest,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,arr_delay,week
0,2019-06-03,WN,WN,510,N8639B,BDL,"Hartford, CT",DEN,"Denver, CO",1640,1905,265.0,1671.0,36.0,23
1,2019-07-25,AA,AA,12,N923NN,DFW,"Dallas/Fort Worth, TX",JAX,"Jacksonville, FL",1509,1830,141.0,918.0,32.0,30
2,2019-08-11,WN,WN,4462,N8552Z,MDW,"Chicago, IL",PVD,"Providence, RI",2215,125,130.0,842.0,-17.0,32
3,2018-01-29,AA,MQ,3652,N508AE,ORD,"Chicago, IL",RAP,"Rapid City, SD",1007,1135,148.0,779.0,5.0,5
4,2018-02-18,AS,AS,9,N462AS,MCO,"Orlando, FL",SEA,"Seattle, WA",700,1040,400.0,2554.0,-22.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,2018-07-07,DL,DL,2610,N954AT,ATW,"Appleton, WI",MSP,"Minneapolis, MN",639,749,70.0,236.0,-16.0,27
4999996,2018-04-20,WN,WN,736,N964WN,DAL,"Dallas, TX",SLC,"Salt Lake City, UT",920,1105,165.0,999.0,234.0,16
4999997,2018-01-18,AA,AA,1786,N972UY,PHL,"Philadelphia, PA",MCO,"Orlando, FL",1815,2102,167.0,861.0,-25.0,3
4999998,2019-02-27,UA,OO,5993,N956SW,SFO,"San Francisco, CA",MFR,"Medford, OR",1605,1739,94.0,329.0,114.0,9
4999999,2019-03-15,WN,WN,1846,N7887A,LAS,"Las Vegas, NV",IND,"Indianapolis, IN",1925,155,210.0,1590.0,-1.0,11

In [62]:
column_names = ['fl_date','arr_delay','origin']
origin_delay = postgresql_to_dataframe(conn, 'SELECT fl_date,arr_delay,origin FROM flights WHERE cancelled = 0 and diverted = 0', column_names)
origin_delay['week'] = pd.to_datetime(origin_delay['fl_date']).dt.week
origin_mean_delay = origin_delay.groupby(['origin', origin_delay['week']]).mean().reset_index().rename(columns={'arr_delay':'mean_weekly_origin_delay'})
origin_mean_delay.to_csv('origin_weekly_mean_delay.csv',index=False)
origin_mean_delay

      origin  week  mean_weekly_origin_delay
0        ABE     1                 12.616915
1        ABE     2                  8.386740
2        ABE     3                  9.852941
3        ABE     4                  3.483146
4        ABE     5                 13.156069
...      ...   ...                       ...
19077    YUM    48                 -7.142857
19078    YUM    49                 -6.371429
19079    YUM    50                 11.333333
19080    YUM    51                 18.750000
19081    YUM    52                 17.701493

[19082 rows x 3 columns]

In [63]:
column_names = ['fl_date','arr_delay','dest']
dest_delay = postgresql_to_dataframe(conn, 'SELECT fl_date,arr_delay,dest FROM flights WHERE cancelled = 0 and diverted = 0', column_names)
dest_delay['week'] = pd.to_datetime(dest_delay['fl_date']).dt.week
dest_mean_delay = dest_delay.groupby(['dest', dest_delay['week']]).mean().reset_index().rename(columns={'arr_delay':'mean_weekly_dest_delay'})
dest_mean_delay.to_csv('dest_weekly_mean_delay.csv',index=False)
dest_mean_delay

      dest  week  mean_weekly_dest_delay
0      ABE     1                4.920000
1      ABE     2                8.855556
2      ABE     3                8.362573
3      ABE     4                4.302198
4      ABE     5                3.350877
...    ...   ...                     ...
19078  YUM    48                1.095238
19079  YUM    49                1.300000
19080  YUM    50                3.876712
19081  YUM    51               11.736842
19082  YUM    52               13.910448

[19083 rows x 3 columns]

In [64]:
data = data.merge(dest_mean_delay, how='left', left_on=['dest','week'], right_on=['dest','week'])
data = data.merge(origin_mean_delay, how='left', left_on=['origin','week'], right_on=['origin','week'])

In [65]:
data

,fl_date,mkt_unique_carrier,op_unique_carrier,mkt_carrier_fl_num,tail_num,origin,origin_city_name,dest,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,arr_delay,week,mean_weekly_dest_delay,mean_weekly_origin_delay
0,2019-06-03,WN,WN,510,N8639B,BDL,"Hartford, CT",DEN,"Denver, CO",1640,1905,265.0,1671.0,36.0,23,9.397645,0.388465
1,2019-07-25,AA,AA,12,N923NN,DFW,"Dallas/Fort Worth, TX",JAX,"Jacksonville, FL",1509,1830,141.0,918.0,32.0,30,11.691860,8.926219
2,2019-08-11,WN,WN,4462,N8552Z,MDW,"Chicago, IL",PVD,"Providence, RI",2215,125,130.0,842.0,-17.0,32,17.007712,9.245760
3,2018-01-29,AA,MQ,3652,N508AE,ORD,"Chicago, IL",RAP,"Rapid City, SD",1007,1135,148.0,779.0,5.0,5,11.728571,16.738499
4,2018-02-18,AS,AS,9,N462AS,MCO,"Orlando, FL",SEA,"Seattle, WA",700,1040,400.0,2554.0,-22.0,7,7.526256,4.523517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,2018-07-07,DL,DL,2610,N954AT,ATW,"Appleton, WI",MSP,"Minneapolis, MN",639,749,70.0,236.0,-16.0,27,-2.412042,1.546667
4999996,2018-04-20,WN,WN,736,N964WN,DAL,"Dallas, TX",SLC,"Salt Lake City, UT",920,1105,165.0,999.0,234.0,16,-0.052058,9.078740
4999997,2018-01-18,AA,AA,1786,N972UY,PHL,"Philadelphia, PA",MCO,"Orlando, FL",1815,2102,167.0,861.0,-25.0,3,1.167089,-2.974661
4999998,2019-02-27,UA,OO,5993,N956SW,SFO,"San Francisco, CA",MFR,"Medford, OR",1605,1739,94.0,329.0,114.0,9,7.980989,11.755168
4999999,2019-03-15,WN,WN,1846,N7887A,LAS,"Las Vegas, NV",IND,"Indianapolis, IN",1925,155,210.0,1590.0,-1.0,11,2.054814,0.911482

### Feature Selection / Dimensionality Reduction

We need to apply different selection techniques to find out which one will be the best for our problems.

- Original Features vs. PCA conponents?

### Modeling

Use different ML techniques to predict each problem.

- linear / logistic / multinomial logistic regression
- Naive Bayes
- Random Forest
- SVM
- XGBoost
- The ensemble of your own choice

### Evaluation

You have data from 2018 and 2019 to develop models. Use different evaluation metrics for each problem and compare the performance of different models.

You are required to predict delays on **out of sample** data from **first 7 days (1st-7th) of January 2020** and to share the file with LighthouseLabs. Sample submission can be found in the file **_sample_submission.csv_**

======================================================================
## Stretch Tasks

### Multiclass Classification

The target variables are **CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY**. We need to do additional transformations because these variables are not binary but continuos. For each flight that was delayed, we need to have one of these variables as 1 and others 0.

It can happen that we have two types of delays with more than 0 minutes. In this case, take the bigger one as 1 and others as 0.

### Binary Classification

The target variable is **CANCELLED**. The main problem here is going to be huge class imbalance. We have only very little cancelled flights with comparison to all flights. It is important to do the right sampling before training and to choose correct evaluation metrics.